.gradient {
  background: linear-gradient(90deg, #d53369 0%, #da5151 100%);
}

.vitrine-image
{
  background-image: url('./../../../public/img/vitrine.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 70vh;
  width: 100%;

}